@charset "utf-8";

/* Estilos do body */
body {
    font-size: 18px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Estilos do header e da navegação */
header nav {
    background-color: #f2f2f2;
    padding: 3px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;
    position: relative;
}

nav img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    right: 20px;
    margin: 0;
}

.list {
    display: inline-block;
    padding: 12px 24px;
    background-color: lightblue;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(2, 0, 0);
    width: 67%;
}

.list:hover {
    background-color: lightblue;
    padding: 13px 25px;
}

.list:active {
    background-image: linear-gradient(30deg, #59615a, #667273);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: lightblue;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(2, 0, 0);
    cursor: pointer;
}

.btn:hover {
    background-color: lightblue;
    padding: 13px 25px;
}

.btn:active {
    background-image: linear-gradient(30deg, #59615a, #667273);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
}
.btn-excluir-grupo{
    right: 55px;
    position: fixed;
}
.toggle-button{
    right: 18px;
    position: fixed;
}
.btn_adicionar_doc{
    position: fixed;
    right: 97px;
}
#btn-menu {
    display: inline-block;
    padding: 12px 24px;
    background-color: lightblue;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(2, 0, 0);
}

#btn-menu:hover {
    background-color: lightblue;
    padding: 13px 25px;
}

#btn-menu:active {
    background-image: linear-gradient(30deg, #59615a, #667273);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
}

#lista_suspensa {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin-top: 2px;
    margin-left: 0;
    position: absolute;
    top: 100%;
    right: 0;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
}

/* Estilos para o conteúdo do modal */
.modal-content {
    background-color: #fff; 
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    position: relative;
    margin-top: 4vh;
}
.modal-content-paginainteira{
    background-color: #fff; 
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 85%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 0vh;
    height: 95%
}

/* Estilos para o botão de fechar */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

/* Estilos para o resultado */
#resultado {
    font-weight: bold;
}
#dadosapp{
    list-style-type: none;
    padding-left:0;
}
.linha_sobre_app{
    text-align: left;
}
/* Estilos do main */
main {
    background-color: #fff;
    border: 1px solid #bfb8b8;
    padding: 35px 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;
    position: absolute;
    top: 5.0em;
    left: 0.3em;
    right: 0.3em;
    bottom: 0.3em;
    overflow-y: auto;
}

main span {
    display: inline-block;
    margin-right: 10px;
}

#msg_inicial {
    margin: auto;
    padding: 20vh;
    padding-right: 100px;
    padding-left: 100px;
}

#frase_inicial {
    color: gray;
    text-align: center;
    font-size: 80%;
}

#corpo {
    display: none;
}

#nome_lista {
    display: none;
    font-size: 16px;
}
#nome_doc_exame{
    padding: 10px 40px;
}

.input_nome {
    text-align: center;
    align-items: center;
    height: 35px;
    width: 200px;
}

#item_usuario1 {
    width: 50px;
    height: 35px;
}

#item_usuario3 {
    width: 120px;
    height: 35px;
}

p {
    text-align: right;
    margin-right: 5px;
}

#f_lista {
    text-align: left;
    margin-bottom: 25px;
}

#li_item {
    margin-bottom: 2px;
}

.valor_item {
    position: absolute;
    right: 40px;
    width: 48px;
    height: 25px;
}

ol {
    list-style-type: none;
    padding:0px 0px;
}
.Grupo {
    background-color: rgb(19, 73, 91);
    color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 6px;
}

.Tipo_de_exame {
    background-color: #fff;
    color: #000;
    margin-top: 10px;
    cursor: pointer;
}
.Arquivo {
    background-color:white;
    color: white;
    padding: 6px 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}
#data_exame{
    padding: 10px 50px;
}
.imagem_inserida a{
        background-color: rgb(19, 73, 91);
        color: white;
        padding: 6px 26px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;   
        border:1px solid black;
        border-radius: 10px;
        font-size:16px;
}
.imagem_inserida{
    margin-bottom: 15px;
}
.data-formatada{
left:25px;
background-color: #dfd9d9;
color:black;
}
.f_botao {
    background-color: lightblue;
    color: black;
    padding: 6px 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.f_botao:hover {
    padding: 8px 28px;
}
.Arquivo a{

    color: black;
    font-size: 16px;
}

.minhas_listas_salvas{
    display: inline-block;
    padding: 12px 24px;
    background-color: rgb(56, 75, 81);
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(2, 0, 0);
    width: 67%;
}
#listas-salvas{
    display:none;
    list-style-type: none;
    padding:0px;
    font-size:70%;
}

#add-button{
    cursor:pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#file_exame{
    margin:15px 2px;

}
.pasta {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Classe para ocultar elementos */
.hidden {
    display: none;
}
#camera-container {
    position: absolute;
    z-index: 1000; /* Defina um valor de z-index maior aqui */
}

video{
    max-height: 300px;
    max-width: 300px;
}
